@font-face {
    font-family: "f1";
    src: url("/fonts/Formula1-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "f1";
    src: url("/fonts/Formula1-Bold.otf");
    font-weight: bold;
}

/* Estilos generales */
:root {
    --primary-red: #FF1E00;
    --carbon-black: #15151E;
    --white: #FFFFFF;
    --gray: #888888;
}

body {
    font-family: "f1", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: var(--carbon-black);
    color: var(--white);
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container a {
    text-decoration: none;
    color: var(--white);
}

/* Header */
header {
    background: linear-gradient(to right, var(--primary-red), #FF5733);
    padding: 20px 0;
    text-align: center;
    font-family: "f1";
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: var(--gray);
    transform: translateY(-3px);
}

nav ul li a::before {
    content: "➤";
    margin-right: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

nav ul li a:hover::before {
    opacity: 1;
}

/* Hero */
.hero {
    background-image: url("/img/index.webp");
    background-size: cover;
    background-position: center;
    text-align: center;
    /* padding: 100px 20px; */
    position: relative;
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: slideIn 1.5s ease-out;
}

.hero p {
    font-size: 1.2em;
    animation: fadeIn 2s ease-out;
}

.hero .btn {
    display: inline-block;
    background-color: var(--primary-red);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero .btn:hover {
    background-color: var(--gray);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Equipos */
.equipos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.equipo {
    padding: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.equipo:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.equipo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.equipo h3,
.equipo p {
    position: relative;
    z-index: 2;
}

.ferrari {
    background-image: url('../img/teams/ferrari.webp');
}

.mercedes {
    background-image: url('../img/teams/mercedes.webp');
}

.redbull {
    background-image: url('../img/teams/redbull.webp');
}

.mclaren {
    background-image: url('../img/teams/mclaren.webp');
}

.astonmartin {
    background-image: url('../img/teams/astonmartin.webp');
}

.williams {
    background-image: url('../img/teams/williams.webp');
}

.alpine {
    background-image: url('../img/teams/alpine.webp');
}

.sauber {
    background-image: url('../img/teams/sauber.webp');
}

.haas {
    background-image: url('../img/teams/haas.webp');
}

.rb {
    background-image: url('../img/teams/rb.webp');
}

/* Calendario */
.carrera {
    padding: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.carrera:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carrera::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.carrera h3,
.carrera p {
    position: relative;
    z-index: 2;
    font-family: "f1", sans-serif;
    margin: 0;
}

.carrera-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.melbourne {
    background-image: url('../img/tracks/melbourne.webp');
}

.shangai {
    background-image: url('../img/tracks/shangai.webp');
}

.suzuka {
    background-image: url('../img/tracks/suzuka.webp');
}

.sakhir {
    background-image: url('../img/tracks/sakhir.webp');
}

.jeddah {
    background-image: url('../img/tracks/jeddah.webp');
}

.miami {
    background-image: url('../img/tracks/miami.webp');
}

.imola {
    background-image: url('../img/tracks/imola.webp');
}

.monaco {
    background-image: url('../img/tracks/monaco.webp');
}

.montmelo {
    background-image: url('../img/tracks/montmelo.webp');
}

.gilles-villeneuve {
    background-image: url('../img/tracks/gilles-villeneuve.webp');
}

.red-bull-ring {
    background-image: url('../img/tracks/red-bull-ring.webp');
}

.silverstone {
    background-image: url('../img/tracks/silverstone.webp');
}

.spa-francorchamps {
    background-image: url('../img/tracks/spa-francorchamps.webp');
}

.hungaroring {
    background-image: url('../img/tracks/hungaroring.webp');
}

.zandvoort {
    background-image: url('../img/tracks/zandvoort.webp');
}

.monza {
    background-image: url('../img/tracks/monza.webp');
}

.baku {
    background-image: url('../img/tracks/baku.webp');
}

.marina-bay {
    background-image: url('../img/tracks/marina-bay.webp');
}

.austin {
    background-image: url('../img/tracks/austin.webp');
}

.hermanos-rodriguez {
    background-image: url('../img/tracks/hermanos-rodriguez.webp');
}

.interlagos {
    background-image: url('../img/tracks/interlagos.webp');
}

.lasvegas {
    background-image: url('../img/tracks/lasvegas.webp');
}

.losail {
    background-image: url('../img/tracks/losail.webp');
}

.yas-marina {
    background-image: url('../img/tracks/yas-marina.webp');
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    text-align: center;
    align-content: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.lightbox:target {
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.close:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Contacto */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}

form label {
    font-weight: bold;
}

form input, form select, form textarea, form option {
    font-family: "f1", sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--carbon-black);
    color: var(--white);
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: var(--primary-red);
    box-shadow: 0 0 8px rgba(255, 30, 0, 0.5);
}

form button {
    font-family: "f1", sans-serif;
    background-color: var(--primary-red);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: var(--gray);
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: var(--primary-red);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

footer p {
    margin: 0;
}

/* Media Queries para Responsive Design */
@media (min-width: 768px) {
    .hero h2 {
        font-size: 3em;
    }

    .hero p {
        font-size: 1.5em;
    }

    .equipos-grid, .calendario-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .hero h2 {
        font-size: 4em;
    }

    .hero p {
        font-size: 1.8em;
    }

    .equipos-grid, .calendario-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}